.scroll-pane {
    -fx-background: #ffffff;
    -fx-border-color: #ffffff;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #ffffff;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-radius: 0px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #34363a;
    -fx-background-radius: 3px;
}

